#content .container {
	background: white; 
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
	border-radius: 10px;
}

#content {
	padding-top: 100px;
}

.error-login {
	color: #b94a48;
	background-color: #f2dede;
	border-color: #ebccd1;
	padding: 0px;
	margin-bottom: 0px;
	border: 1px solid transparent;
	border-radius: 4px;
}

#lapangan {
	background-image:url('../img/soccer-pitch.jpg');
	background-size:500px 525px;
	width:500px;
	height:525px;
}

.player{
	display:inline;
	padding:15px;
}

.dropo1 {
	display:inline;
	margin:41.5%;
	//background-color:powderBlue;
}
.dropo2 {
	display:inline;
	margin:16.5%;
	//background-color:powderBlue;
}
.dropo3 {
	display:inline;
	margin:8.2%;
	//background-color:powderBlue;
}
.dropo4 {
	display:inline;
	margin:4%;
	//background-color:powderBlue;
}
.dropo5 {
	display:inline;
	margin:1.59%;
	//background-color:powderBlue;
}

.logout {
	padding-top:0px;
}

.avatar {
	padding-top:5px;
	margin-right: -8%;
}

.menu {
	padding-top:5px;
}

.droppable-active {
     opacity: 1.0;
     background-color:yellow;
}

.droppable-hover {
     outline: 1px dotted black;
     background-color:white;
}

div.dtable {
padding-left: 19%;
display:table;}
div.dtable div.drow {display:table-row;}
div.dtable div.drow span {display:table-cell;padding:5px 5px 5px 5px;}
div.dtable div.drow span.shead {font-weight:bold;text-align:right;vertical-align:top;padding-top:8px;}
div.dtable div.drow span.shead2,div.dtable div.drow span.name {font-weight:bold;text-align:right;vertical-align:top;}
div.dtable div.drow span input {margin:0px;}
div.dtable div.drow span textarea {margin:0px;}
div.dtable div.drow span select {margin:0px;}
