#page {
 background: #EFFAF7;
}

#content .container {
 background: white; 
   -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}

#content {
 padding-top: 100px;
}

#footer {
 margin-top: 50px;
}

#recaptcha_response_field {
 line-height: normal;
}

#form_login #progress-bar .progress {
	margin-bottom: 0;
}

.clickable {
	cursor: pointer;
}

#daftar_pesan a:hover {
	text-decoration: none;
}